/*ภาพเคลื่อนไหว ที่มา https://github.com/sudhirkumarojhaa/parallax/blob/master/a.html*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '', sans-serif;
}

nav {
  /*ส่วนmenubar*/
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*position ส่วนheader*/
.header {
  height: 100vh;
  width: 100%;
  padding: 1%;

}

/*ส่วน button logo*/
.logout {
  background: #CB997E;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

/*ส่วน logo*/
.logo {

  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  color: #CB997E;
  /* width: 50px; */
  /*border:1px solid red;*/

}

/*ส่วน image */
nav .img {
  width: 60px;
  margin-right: 10px;
}

/*จัดเรียงขนาดแถบบนด้านขวา*/
.nav-links li {
  display: inline-block;
  margin: 0 15px;
  /*border: 1px solid red*/
}

/*ขนาด text แถบบนด้านขวา*/
.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 5px 0;
  position: relative;
}

/*ขนาด text แถบบนด้านขวา*/
.nav-links li a::after {
  content: '';
  background: #CB997E;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

/*ลิงค์แถบบนด้านขวา เมื่อเมาส์ไปโดน ให้แสดงผลเต็มแบบ*/
.nav-links li a:hover::after {
  width: 100%;
}

/*รูปแบบของ input*/
input {
  border: none;
  outline: none;
  background: none;
}

/*ขนาดและ porperty ของ formตรงกลาง*/
.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*ขนาดและ porperty ของ ส่วนหัวtable*/
thead tr {
  background-color: #c6a97a;
  color: white;
  /* text-align:center; */
  font-size: 20px;
  font-style: italic;
}

/*ขนาดและ porperty ของ background ด้านหลัง ทำใหเปนภาพเคลื่อนไหว*/
/*ภาพเคลื่อนไหว ที่มา https://github.com/sudhirkumarojhaa/parallax/blob/master/a.html*/
body {
  margin: auto;
  height: 100%;
  /* max-height: 600px; */
  width: 1000px;
  background-color: hsla(200, 40%, 30%, .4);
  background-image:
    url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
    url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position:
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size:
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;
}

/*ภาพเคลื่อนไหว ที่มา https://github.com/sudhirkumarojhaa/parallax/blob/master/a.html*/
@keyframes para {
  100% {
    background-position:
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
  }
}

/*ทำbutton add ให้เป็น มีสี*/
.add {
  background: #CB997E;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}


.singup {
  background: #CB997E;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.search {
  background: #CB997E;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}